body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    color: white;
}
#botaoDuvida{
    position: absolute;
    color: white;
    background-color: #00000000;
    border: 0;
    font-size: 28px;
    right: 1%;
    top: 3vh;
}
#configuracoesPartidaDiv{
    display: flex;
    width: 40%;
    flex-direction: column;
    padding-right: 2%;
}
#formularioDiv{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 9.5vh;
    margin-bottom: 2%;
    border-radius: 8px;
    padding: 1% 0;
}
.inputConfig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
label{
    text-align: center;
}
select{
    display: flex;
    text-align: center;
    background-color: var(--cor1);
    color: white;
    border-radius: 6px;
    border: 1px solid var(--cor4);
    font-size: 14px;
    padding: 1.5% 0;
}
select option{
    background-color: var(--cor2);
}
.opcoesCollectors{
    display: none;
}
#jogoDecisivo{
    width: 30%;
    height: 30%;
}
input[type="number"]{
    width: 55%;
    outline: 0;
}
.placarIda{
    display: none;
}
#botaoIniciarPartida, #botaoProximaPartida{
    width: 60%;
    margin: 1% 20%;
    height: 5vh;
    font-size: 17px;
    background: linear-gradient(var(--cor3), var(--cor4));
    color: white;
    border: 0;
    border-radius: 6px;
}
#botaoIniciarPartida:hover, #botaoProximaPartida:hover{
    filter: brightness(0.9);
    transform: scale(1.05);
}
#botaoProximaPartida{
    margin-top: 2%;
    width: 40%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 90vh;
    border-radius: 12px;
    background-color: #000000be;
    overflow-y: auto;
}
#placar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7%;
    width: 80%;
    padding: 1% 0;
}
.timeNome{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor5);
    color: white;
    border-radius: 6px;
    width: 35%;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
}
#timer{
    background-color: var(--cor5);
    padding: 1% 1.5%;
    border-radius: 20px;
    letter-spacing: 1.5px;
}
#eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.eventoTime1, .eventoTime2{
    display: flex;
    width: 50%;
    gap: 5px;
}
.eventoTime1{
    justify-content: left;
    border-right: 1px solid black;
    margin-right: 50%;
}
.eventoTime2{
    justify-content: right;
    border-left: 1px solid black;
    margin-left: 50%;
    flex-direction: row-reverse;
}
.subEvento{
    font-size: 14px;
    color: gray;
}
#estatisticasDiv{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#estatisticasDiv table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    text-align: center;
}
#time1Estatisticas, #time2Estatisticas{
    width: 45%;
}
#estatisticasDiv tr:nth-child(even){
    background-color: var(--cor2);
}
#janela-modal{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #63636380;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.divJanela{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-shadow: 0 20px 60px #00000040;
    background-color: var(--cor1);
    color: white;
    border: 6px solid var(--cor2);
    border-radius: 12px;
    padding: 2%;
    gap: 16px;
    position: relative;
}
.btnSairJanela{
    border: 0;
    background-color: #00000000;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 5%;
    top: 3vh;
}

@media (max-width: 550px) {
    body{
        flex-direction: column;
    }
    #configuracoesPartidaDiv{
        width: 80%;
    }
    #formularioDiv{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 7.5vh;
    }
    #iniciarPartidaBtn{
        width: 50%;
        margin: 3% 25%;
    }
    main{
        width: 100%;
        height: 90vh;
        margin-top: 10vh;
        border-radius: 0;
    }
    #placar{
        height: 6.5%;
        width: 100%;
        font-size: 13px;
    }
    .timeNome{
        font-size: 13px;
        text-align: center;
    }
    #eventos{
        width: 90%;
        font-size: 12px;   
    }
    #estatisticasDiv{
        font-size: 13px;
    }
}