body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
}

#formularioDiv{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 2%;
}
#configuracoesPartidaDiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 9vh;
    margin-bottom: 2%;
    background-color: #0000007c;
    border-radius: 8px;
    padding: 1% 0;
}
.inputConfig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
select{
    display: flex;
    text-align: center;
    background-color: var(--cor1);
    color: white;
    border-radius: 6px;
    border: 1px solid var(--cor4);
    font-size: 14px;
    padding: 1.5% 0;
}
select option{
    background-color: var(--cor2);
}
#iniciarPartidaBtn{
    width: 40%;
    margin: 1% 30%;
    height: 5vh;
    font-size: 17px;
    background: linear-gradient(var(--cor3), var(--cor4));
    color: white;
    border: 0;
    border-radius: 6px;
}
#iniciarPartidaBtn:hover{
    filter: brightness(0.9);
    transform: scale(1.05);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 60vh;
    border-radius: 12px;
    background-color: #0000007c;
    overflow-y: auto;
}
#placar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 60%;
    padding: 1% 0;
}
.timeNome{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor5);
    color: white;
    border-radius: 6px;
    width: 35%;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
}
#timer{
    background-color: var(--cor5);
    padding: 1% 1.5%;
    border-radius: 20px;
    letter-spacing: 1.5px;
}
#eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.eventoTime1, .eventoTime2{
    display: flex;
    width: 50%;
    gap: 5px;
}
.eventoTime1{
    justify-content: left;
    border-right: 1px solid black;
    margin-right: 50%;
}
.eventoTime2{
    justify-content: right;
    border-left: 1px solid black;
    margin-left: 50%;
    flex-direction: row-reverse;
}
.assistencia{
    font-size: 14px;
    color: gray;
}
@media (max-width: 550px) {
    #formularioDiv{
        width: 80%;
    }
    #configuracoesPartidaDiv{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 7.5vh;
    }
    #iniciarPartidaBtn{
        margin: 3% 30%;
    }
    main{
        width: 100%;
        border-radius: 0;
    }
    #placar{
        width: 90%;
    }
    .timeNome{
        font-size: 13px;
        text-align: center;
    }
    #eventos{
        width: 90%;
        font-size: 12px;   
    }
}
@media (max-height: 500px) {
    #formularioDiv{
        width: 100%;
        font-size: 10px;
    }
    #configuracoesPartidaDiv{
        grid-auto-rows: 15vh;
    }
    .inputConfig select{
        font-size: 10px;
    }
    #iniciarPartidaBtn{
        margin: 0 35% 1%;
        width: 30%;
        height: 7vh;
    }
    main{
        width: 90%;
    }
    #placar{
        width: 100%;
        height: 10vh;
    }
    #eventos{
        width: 95%;
        font-size: 12px;   
    }
    #timer{
        font-size: 12px;
    }
}