body{
    flex-direction: column;
    background-image: none;
    color: white;
    margin: 2% 0;
}

.btnCanto{
    top: 0;
}

input{
    border: 1px solid var(--cor3);
    background-color: #00000000;
    border-radius: 4px;
    padding: 0.75%;
    color: white;
    font-size: 14px;
}

input[type="color"]{
    border: 0;
}

#informacoesBasicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 1%;
}

.inputDiv input{
    width: 60%;
}

#coresDiv{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#cor1Div, #cor2Div{
    display: flex;
    width: 14%;
    justify-content: space-between;
}

#botaoConfirmarAlteracoes{
    margin-top: 1%;
    width: 30%;
    height: 5vh;
    color: white;
    border: 0;
    font-size: 15px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    background: linear-gradient(rgb(13, 170, 26), rgb(11, 131, 21));
}

#informacoesAvancadas{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

#configuracoesTimeDiv{
    width: 60%;
}

#taticasTime{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor2);
    padding: 1.5% 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.taticaDiv{
    display: flex;
    flex-direction: column;
}


#campoTatico{
    padding: 2% 0;
    background-image: url("/img/campo.png");
    background-size: 100% 100%;
    background-color: green;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.linha{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    width: 100%;
}

.posicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000083;
    padding: 1%;
    width: 25%;
    border: 1px solid white;
    border-radius: 6px;
}

#reservasDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 12px;
    background-color: var(--cor2);
    width: 20%;
    min-height: 15vh;
}

.jogador{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    border-radius: 6px;
    width: 70%;
    padding: 1%;
}

.selecionado{
    background-color: #b8cc005d;
    border: 1px solid yellow;
}

@media (max-width: 550px) {
    .inputDiv{
        width: 80%;
        margin-bottom: 2%;
    }

    #cor1Div, #cor2Div{
        width: 50%;
    }

    #botaoConfirmarAlteracoes{
        margin: 1% 2%;
        width: 70%;
    }

    #informacoesAvancadas{
        flex-direction: column;
        justify-content: center;
    }

    #configuracoesTimeDiv{
        width: 100%;
    }

    #taticasTime{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .taticaDiv{
        text-align: center;
        padding: 0 10%;
        width: 80%;
    }

    #campoTatico{
        width: 100%;
    }

    .posicao{
        font-size: 14px;
        width: 50%;
    }

    .posicao .jogador{
        width: 90%;
    }

    #reservasDiv{
        width: 100%;
        margin: 6% 0;
    }
}